//https://coolors.co/191919-cdcdcd-ffffff-f44708-ed750b-f6b983-58c7e0

$primary-color: #ED750B;
$primary-color-light: #F6B983;
$secondary-color: #58C7E0;
$error-color: #F44708;
$white: #FFFFFF;
$black:  #191919;
$grey: #CDCDCD;
$text-font: 'Roboto', sans-serif;

button {  
    color: $white;
    border-color: red;
    background: none;
}

body{
    font-family: $text-font;
    height:100vh; 
    margin:0;
    display:flex; 
    flex-direction:column; 
}

.navbar{
    background: #ED750B;
}

button {  
  color: $white;
  border-color: red;
    background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: $secondary-color;
    color: $secondary-color;
  }
}
.card{
    background: $primary-color;
    color: #fff;
  }


.jumbotron {
  background-color: #ed750b57;
}

.box {
  background: #f9f9f9;
  box-shadow: 0 0 0.1rem #ed750b, 0 0.3rem 0.8rem #ed750b;
  height: 23rem;
  border-radius: 5px;
  h2 {
    font-family: $text-font;
    color: $primary-color;
    font-size: 1.5em;
          padding-top: 1rem;
  }
    h3 {
    font-family: $text-font;
    color: $primary-color;
    font-size: 1.2em;
          padding-top: 1rem;
  }
  .fa-color{
      color: black;
      font-size: 1.8em;
      padding: 1rem;
      padding-left: 3rem;
  }
  p {
    font-family: $text-font;
    font-size: 1rem;
    color: $black;
  }
}

.box--contains {
  padding: 30px;  
  text-align: center;
  img {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
  .details {
    margin-top: 30px;
  }
}

footer{
    background-color: $black;
    color: $white;
    a{
        color: $secondary-color;
        &:hover{
            color: $primary-color-light;
            text-decoration: none;
        }   
    } 
    
}
